$palette: (
  'dark': #000,
  'light': #fff,
  'off-black': #454444,
  'light-background': #f8f8f8,
  'light-border': #E8E8E8,
  'heading': #000,
  'text': #F3F4F6,
  'texthover': #04c7d4,
  'blog-kicker': #A7AAA8,
  'blog-title': #454444,
  'blog-title-hover': #0C0C0C,
  'blog-description': #9B9B9B,
  'background': #131313,
  'content-heading': #333333,
  'content-body': #646464
);

$fonts: (
  'heading': 'Poppins',
  'footer': 'Poppins',
  'hero': 'Oswald',
  'blog': 'Oswald',
  'poppins': 'Poppins',
  'oswald': 'Oswald',
);

$fontWeights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
);

$media-xs-phone: 480px;
$media-phone: 600px;
$media-tablet: 900px;
$media-laptop: 1200px;
$media-desktop: 1800px;
