@import '@styling/base';

.token {
  display: inline-block;
}

.reactHighlight {
  font-size: 1rem;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow: auto;

  & > code[class*="language-"],
  & > pre[class*="language-"] {
    word-spacing: normal;
    word-break: normal;
    overflow-wrap: normal;
    line-height: 1.5;
    tab-size: 2;
    hyphens: none;
  }
}

.highlightLine {
  background-color: rgb(2, 55, 81);
  border-left: 4px solid rgb(2, 155, 206);

  .line-number-style {
    opacity: 0.5;
    width: calc(1.2em - 4px);
    left: -2px;
  }
}

