@import '@styling/base';

.footer {
  border-top: 0.2rem solid palette(light-border);

  display: flex;
  flex-direction: column-reverse;

  @include sm {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include sm {
    flex-direction: row;
  }
}

.item {
  margin: 0;
  list-style: none;

  &:first-of-type a {
    padding-left: 0;
  }

  &:last-of-type a {
    padding-right: 0;
  }

  a {
    display: flex;
    padding: 0.5rem 0;
    color: palette(off-black);
    text-decoration: none;

    @include sm {
      font-size: 1.6rem;
      padding: 0 1rem;

    }

    &:hover {
      color: palette(texthover);

      &:link,
      &:active,
      &:focus,
      &:visited {
        text-decoration: none;
      }
    }
    svg path,
    svg g path {
      color: palette(off-black);
      fill: palette(off-black);
    }
  }
}

.copyright {
  display: flex;
  align-items: center;
  color: palette(dark);
  font-size: 1rem;
  font-family: fontFamily(footer);

  @include xs {
    font-size: 0.8rem;
  }

  @include sm {
    text-align: left;
  }
}
