@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import 'reset/normalize';
@import 'core/core';
// @import 'core/typegraphy';

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}


body {
  width: 100%;
  height: 100%;
  color: #000;
  background-color: palette(light-background);

  &.dark {
    color: #FEFEFE;
    background-color: #0c0c0c;
  }
}

#__next {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

// * {
//   background-color: rgba(0, 0, 0, .05);
// }

main {
  flex: 1;

  section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section--hero {
  height: 100%;
}

.hero {
  font-family: fontFamily('hero');
  font-size: 2.3rem;
  font-weight: 500;

  @include md {
    font-size: 4rem;
  }

  span {
    padding: 0.5rem;
    color: palette(light);
    background-color: palette(dark);
  }
}
