@import '@styling/base';

.root {
  margin-bottom: 5rem;
  text-decoration: none;
}

.kicker {
  color: palette(blog-kicker);
  font-family: fontFamily(poppins);
  font-weight: fontWeight(medium);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.title {
  color: palette(blog-title);
  font-family: fontFamily(oswald);
  letter-spacing: 0.1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.description {
  color: palette(blog-description);
  font-family: fontFamily(poppins);
  margin: 0;
}
